{% extends 'afterlogin.html' %}
{% load static %}
{% block content %}

<div class="content_section" style="height:550px;">
  <br>
  <div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your mobile</strong> for order details.</p>
    <br>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="{% url 'medtestapp:purchase' %}" role="button">Continue to homepage</a>
    </p>
  </div>
</div>

{% endblock %}